workflows/test-workflows/03-branching-logic.json
{
  "name": "Test 03 - Branching Logic (IF/Switch)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0003-0001-0001-000000000001",
      "name": "Run Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate random number to test branching\nconst value = Math.floor(Math.random() * 100);\nreturn [{\n  json: {\n    value: value,\n    category: value >= 50 ? 'high' : 'low',\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000002",
      "name": "Random Value",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.value }}",
              "rightValue": "50",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000003",
      "name": "Check Value",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{\n  json: {\n    result: 'HIGH PATH',\n    originalValue: input.value,\n    message: `Value ${input.value} is >= 50, took the high path`,\n    completedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000004",
      "name": "High Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 200]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{\n  json: {\n    result: 'LOW PATH',\n    originalValue: input.value,\n    message: `Value ${input.value} is < 50, took the low path`,\n    completedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0003-0001-0001-000000000005",
      "name": "Low Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 420]
    }
  ],
  "connections": {
    "Run Test": {
      "main": [[{"node": "Random Value", "type": "main", "index": 0}]]
    },
    "Random Value": {
      "main": [[{"node": "Check Value", "type": "main", "index": 0}]]
    },
    "Check Value": {
      "main": [
        [{"node": "High Path", "type": "main", "index": 0}],
        [{"node": "Low Path", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
